@{ Layout = "/Views/Shared/Layout.cshtml"; }

<h1>Cadastro de Clientes</h1>

<form action="/cliente/create" method="POST">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="name" id="nome" required />
    </div>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" required />
    </div>

    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" name="password" id="senha" required />
    </div>

    <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>

</form>