@model List<Cliente>
@{ Layout = "/Views/Shared/Layout.cshtml"; }

    <h1>Cliente</h1>

    <div>
        <form action="/cliente/search" method="post">
            <div class="form-group">
                <input type="text" name="searchKeyword" class="form-control" placeholder="Digite aqui a palavra-chave para buscar">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

        <table class="table table-hover">
        @foreach (Cliente p in Model)
        {
        <tr>
           <td>@p.Name</td>
           <td>@p.Email</td>
           <td>@p.Password</td>
           <td><a href="/cliente/details/@p.ClienteId">Detalhes</a></td>
           <td><a href="/cliente/delete/@p.ClienteId">Excluir</a></td> 
           <td><a href="/cliente/update/@p.ClienteId">Editar</a></td> 
        </tr> 
        }
        </table>

        <a clas s="btn btn-primary" href="/cliente/create">Adicionar</a>