@model List<Produto>
@{ Layout = "/Views/Shared/Layout.cshtml"; }

    <h1>Lista de Produto</h1>
        <table class="table table-hover">
        @foreach (Produto p in Model)
        {
        <tr>
           <td>@p.ProdutoId</td>
           <td>@p.Nome</td>
           <td>@p.Preco</td>
           <td><a href="produto/details/@p.ProdutoId">Detalhes</a></td>
           <td><a href="/produto/delete/@p.ProdutoId">Excluir</a></td> 
           <td><a href="/produto/update/@p.ProdutoId">Editar</a></td> 
        </tr> 
        }
    </table>

    <a class="btn btn-primary" href="/produto/create">Adicionar</a>
    